{
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "brace-style": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "import/no-extraneous-dependencies": "off",
  },
  "env": {
    "browser": true,
    "jest": true,
  },
  "overrides": [
    {
      "files": [ "src/stories/*.js" ],
      "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      }
    }
  ]
}